[submodule "sugar"]
	path = sugar
	url = https://github.com/lumberjackgames/sugar
[submodule "mtcandy"]
	path = mtcandy
	url = https://github.com/lumberjackgames/mtcandy
[submodule "ski"]
	path = ski
	url = https://github.com/qawsedrftgzh/Ski
[submodule "rainbow_source"]
	path = rainbow_source
	url = https://github.com/Ezhh/rainbow_source
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/tenplus1/mobs_redo
[submodule "christmas_decor"]
	path = christmas_decor
	url = https://github.com/GreenXenith/christmas_decor
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
