[submodule "sugar"]
	path = sugar
	url = https://github.com/lumberjackgames/sugar
[submodule "mtcandy"]
	path = mtcandy
	url = https://github.com/lumberjackgames/mtcandy
[submodule "ski"]
	path = ski
	url = https://github.com/qawsedrftgzh/Ski
